window {
    transition-property: all;
    transition-duration: 0.3s;
}
body {
    background-color: rgba(218, 255, 246, 0);
    overflow: auto;
}
.menu {
    position: absolute;
    top: .5px;
    left: 0%;

    height: 10%;
    width: 100%;
    background-color: rgba(255, 204, 124, 0);
    color: rgb(90, 90, 90);
    font-size: 175%;
    font-family: "quicksandregular";
    font-weight: "500";
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 127, 56, 1);
    border-bottom-width: 4px;
    border-top-style: solid;
    border-top-color: rgb(172, 172, 172);
    border-top-width: 4px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    z-index: 1000;
}
.fixo {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0px;
    left: 0%;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(90, 90, 90);
    font-size: 175%;
    font-family: "quicksandregular";
    font-weight: "500";
    transition-property: all;
    transition-duration: 0.3s;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 127, 56, 0.84);
    border-bottom-width: 8px;
    border-top-style: solid;
    border-top-color: rgba(255, 127, 56, 1);
    border-top-width: 0px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    box-shadow: 0px 2px 2px #717171;
    z-index: 1000;
}
.item_menu {
    position: static;
    display: table;
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    transition-property: all;
    transition-duration: 0.3s;
}
.item_menu:hover {
    color: rgba(215, 181, 0, 1);
    ;
    transition-property: all;
    transition-duration: 0.3s;
}
.item_menuC {
    position: static;
    display: table;
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    transition-property: all;
    transition-duration: 0.3s;
}
.item_menuC:hover {
    color: rgba(42, 188, 148, 1)rgba(215, 181, 0, 1);
    transition-property: all;
    transition-duration: 0.3s;
}
.ponte {
    position: absolute;
    left: 5%;
    top: -2147483648px;
    border-radius: 15px;
    background-image: url('emilhao.jpg');
    background-size: cover;
    height: 100%;
    width: 97%;
    z-index: 3;
}
.celula {
    display: table-cell;
    vertical-align: middle;
}
.filtro{
  position: absolute;
  left: 5%;
  top: 15%;
  border-radius: 15px;
  /*background-image: radial-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.31), transparent);*/
  background-size: cover;
  height: 80%;
  width: 90%;
  z-index: 4;
}
.logo {
    border: 7px solid rgb(236, 192, 37);
    position: absolute;
    display: table;
    color: rgb(236, 192, 37);
    font-size: 800%;
    font-family: fantasy;
    background-color: rgba(238, 209, 10, 0);
    text-align: center;
    top: 22%;
    left: 1%;
    height: 12%;
    width: 13%;
    cursor: default;
    border-radius: 100%;
    z-index: 5;
}
.sub_logo {
    position: absolute;
    width: 50%;
    left: 25%;
    color: #FFF;
    font-size: 300%;
    font-family: "quicksandregular";
    background-color: rgba(42, 188, 148, 0.0);
    text-align: center;
    top: 70%;
    z-index: 5;
}
.meio {
    position: static;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
}

.topo {
    position: static;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;

}

.divisao {
    position: relative;
    left: 5%;
    top: 5%;
    font-family: "quicksandregular";
    height: 60%;
    width: 90%;
    border-bottom-style: solid;
    border-bottom-color: rgb(172, 172, 172);
    border-bottom-width: 2px;
}
.divisao_conteudo {
    position: static;
    display: table;
    font-family: "quicksandregular";
    font-size: 135%;
    color: rgb(85, 85, 85);
    height: 100%;
    width: 50%;
}
.divisao_texto {
    position: static;
    display: table-cell;
    vertical-align: middle;
    height: auto;
    width: 100%;
}
.titulo {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 15%;
    text-align: center;
    font-family: "quicksandregular";
    color: rgb(52, 127, 203);
    font-size: 200%;
}
.img_flutuante {
    position: absolute;
    left: 0%;
    top: 25%;
    height: 55%;
    width: 40%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
}
.img {
    position: absolute;
    left: 7.5%;
    height: 100%;
    width: 85%;
    transition-property: all;
    transition-duration: 0.25s;
    opacity: 1.0;
    z-index: 3;
}
.botao {
    position: absolute;
    z-index: 4;
    height: 100%;
    background-color: rgba(255, 127, 56, 1);
    font-family: "quicksandregular";
    font-size: 150%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-width: 0px;
    transition-property: background, color;
    transition-duration: 0.25s;
}
.botao:hover {
    background-color: rgba(255, 127, 56, 0);
    color: rgba(255, 127, 56, 1);
    transition-property: background, color;
    transition-duration: 0.25s;
}
center {
    text-align: center;
    color: inherit;
    margin-left: 0px;
}
p {
    text-align: left;
}
.aperte: hover {
    color: rgba(42, 188, 148, 1);
    font-weight: 600
}
.hor-minimalist-a
{
    position: absolute;
    top: 15%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
    color: orange
}
.hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
.hor-minimalist-a tbody tr:hover td
{
	color: #009;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 17, 2015 */

@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand-regular1-webfont.eot');
    src: url('quicksand-regular1-webfont.eot?#iefix') format('embedded-opentype'), url('quicksand-regular1-webfont.woff2') format('woff2'), url('quicksand-regular1-webfont.woff') format('woff'), url('quicksand-regular1-webfont.ttf') format('truetype'), url('quicksand-regular1-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandlight';
    src: url('quicksand-light1-webfont.eot');
    src: url('quicksand-light1-webfont.eot?#iefix') format('embedded-opentype'), url('quicksand-light1-webfont.woff2') format('woff2'), url('quicksand-light1-webfont.woff') format('woff'), url('quicksand-light1-webfont.ttf') format('truetype'), url('quicksand-light1-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandbold';
    src: url('quicksand-bold1-webfont.eot');
    src: url('quicksand-bold1-webfont.eot?#iefix') format('embedded-opentype'), url('quicksand-bold1-webfont.woff2') format('woff2'), url('quicksand-bold1-webfont.woff') format('woff'), url('quicksand-bold1-webfont.ttf') format('truetype'), url('quicksand-bold1-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksanddash';
    src: url('quicksand_dash1-webfont.eot');
    src: url('quicksand_dash1-webfont.eot?#iefix') format('embedded-opentype'), url('quicksand_dash1-webfont.woff2') format('woff2'), url('quicksand_dash1-webfont.woff') format('woff'), url('quicksand_dash1-webfont.ttf') format('truetype'), url('quicksand_dash1-webfont.svg#quicksanddash') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'great_vibesregular';
    src: url('greatvibes-regular1-webfont.eot');
    src: url('greatvibes-regular1-webfont.eot?#iefix') format('embedded-opentype'), url('greatvibes-regular1-webfont.woff2') format('woff2'), url('greatvibes-regular1-webfont.woff') format('woff'), url('greatvibes-regular1-webfont.ttf') format('truetype'), url('greatvibes-regular1-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
