﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Comum.master" AutoEventWireup="true" CodeFile="QuadroGeral.aspx.cs" Inherits="QuadroGeral" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


    <div class="filtro hor-minimalist-a">
        <asp:Table ID="tblFuncionarios" runat="server" Height="16px" HorizontalAlign="Justify" OnInit="tblFuncionarios_Init" Width="100%"></asp:Table>
    </div>
</asp:Content>

