﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Comum.master" AutoEventWireup="true" CodeFile="VisualizarCargos.aspx.cs" Inherits="VisualizarCargo" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="hor-minimalist-a">        
        <asp:Table ID="tblVisualizar" runat="server" GridLines="Both" Height="16px" HorizontalAlign="Justify" OnInit="tblVisualizar_Init" Width="100%">
        </asp:Table>        
    </div>
</asp:Content>

