﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Comum.master" AutoEventWireup="true" CodeFile="VisualizarFuncionario.aspx.cs" Inherits="VisualizarFuncionario" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="filtro">
        <asp:Table ID="tblFuncionario" runat="server" OnInit="tblFuncionario_Init"></asp:Table>
        <asp:Label ID="lblErro" runat="server" Visible="False"></asp:Label>
    </div>
</asp:Content>

